* {
    box-sizing: border-box;
}

body {
    background-color: #e4ceb3;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: center;
}

.logo-title {
    width: 50%;
    height: 50%;
}

#header-nav {
    background-color: #9f6826;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

nav {
    display: flex;
    gap: 2rem;

    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

img {
    border-radius: 1.2rem;
    width: 25rem;
    height: 28rem;
}

.btn,
.navBtn {
    background-color: #9f6826;
    border: none;
}

.btn i {
    font-size: 2.5rem;
    justify-self: flex-end;
}

.navBtn {
    font-size: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
    background-color: #9f6826;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0.8rem;
}

#productList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    flex-wrap: wrap;
}

.product-div {
    padding: 2rem;

    font-family: Georgia, "Times New Roman", Times, serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-img {
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
}

.product-btn {
    background-color: #e4ceb3;
    border: none;
    text-decoration: underline;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

#modal-content {
    background-color: #e4ceb3;
    margin: 30% auto;
    padding: 1.25rem;
    width: 50%;
    border-radius: 1rem;
    display: flex;
}

#cartModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
#cart-content {
    background-color: white;
    overflow: auto;
    border-radius: 1rem;
    width: 50%;
    height: 80%;
}
#product-cart {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 0;
}
