* {
    box-sizing: border-box;
}

body {
    background-color: #e4ceb3;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: center;
}

.logo-title {
    width: 50%;
    height: 50%;
}

#header-nav {
    background-color: #9f6826;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

nav {
    display: flex;
    gap: 2rem;

    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.btn,
.navBtn {
    background-color: #9f6826;
    border: none;
}

.btn i {
    font-size: 2.5rem;
    justify-self: flex-end;
}

.navBtn {
    font-size: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
    background-color: #9f6826;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0.8rem;
}

#productList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    flex-wrap: wrap;
}

.product-div {
    padding: 2rem;

    font-family: Georgia, "Times New Roman", Times, serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-img {
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
    width: 50%;
    height: 50%;
}

.product-btn {
    background-color: #e4ceb3;
    border: none;
    text-decoration: underline;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

#modal-content {
    background-color: #e4ceb3;
    margin: 30% auto;
    padding: 1.25rem;
    width: 50%;
    border-radius: 1rem;
    display: flex;
}

#cartModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
#cart-content {
    background-color: white;
    overflow: auto;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
}
#product-cart {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-height: 55%;
    height: fit-content;
    margin: 1rem;
    gap: 1.5rem;
    max-width: fit-content;
    flex-wrap: wrap;
}

#cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title title title title btn";

    font-size: 1rem;
    background-color: #e4ceb3;
}

#cart-title {
    grid-area: title;
    text-align: center;
}

#close-cart-btn {
    grid-area: btn;
    height: 30%;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #e4ceb3;
}

#cart-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: large;
}

#cart-footer button {
    background-color: #e4ceb3;
    border: #9f6826;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#cart-footer button:hover {
    background-color: #9f6826;
}

.cart-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.cart-product-card button {
    height: 10%;
}
.cart-product-card img {
    height: 10rem;
}
