* {
    box-sizing: border-box;
}

body {
    background-color: #e4ceb3;
    margin: 0;
}

/* Page-header */
header {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: center;
}

.logo-title {
    width: 50%;
    height: 50%;
}

/* Nav bar */
#header-nav {
    background-color: #9f6826;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

nav {
    display: flex;
    gap: 2rem;
    flex-grow: 1;
    overflow: auto;
}

.btn,
.navBtn {
    background-color: #9f6826;
    border: none;
}

.btn i {
    font-size: 2.5rem;
    justify-self: flex-end;
}

.navBtn {
    font-size: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* Cart Modal */
#cartModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

/* Cart Modal header */
#cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title title title title btn";

    font-size: 1rem;
    background-color: #e4ceb3;
}

#cart-title {
    grid-area: title;
    text-align: center;
}

#close-cart-btn {
    grid-area: btn;
    height: 30%;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #e4ceb3;
}

/* Main cart */
#cart-content {
    background-color: white;
    overflow: auto;
    border-radius: 1rem;
    width: 87%;
    max-height: 50%;
}

/* En div med produktkortet i cart modal */
#product-cart {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    min-height: 55%;
    height: fit-content;
    margin: 1rem;
    gap: 1.5rem;
    max-width: fit-content;
    flex-wrap: wrap;
}

/* Cart footer */
#cart-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: large;
}

#cart-footer button {
    background-color: #e4ceb3;
    border: #9f6826;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#cart-footer button:hover {
    background-color: #9f6826;
}

/* Ett produktkort i cart modal */
.cart-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

/* Div med produkt-info i Cart modal */
#wrap-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* Div med plus & minus knapp */
#button-wrap {
    display: flex;
    gap: 2rem;
}

/* Produkt kortet med detalj */
.cart-product-card button {
    height: 10%;
}
.cart-product-card img {
    height: 10rem;
}

/* Div med cart-ikon */
#cartDiv {
    display: flex;
}

#cartCounter {
    background-color: white;
    opacity: 50%;
    border-radius: 100%;
    height: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* id till cart-ikon */
#cart {
    padding: 0.2rem;
}

/* Div med bild i cart modal */
.cart-img {
    width: 8rem;
    height: 12rem;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
}

.cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Plus & minus och ta bort knapp */
.cart-button {
    border-radius: 50%;
    border: none;
    background-color: #e4ceb3;
}
/* Ta bort knapp */
#tabort-knapp {
    border-radius: 5px;
    padding: 5px;
}

/* Main-content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5rem;
    min-height: 76vh;
}

/* Div med alla produkt kort */
#productList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    flex-wrap: wrap;
}

/* Varje produkt kort */
.product-div {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

/* "Läs mer" knappen */
.product-btn {
    background-color: #e4ceb3;
    border: none;
    text-decoration: underline;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
    font-weight: 500;
}

/* Diven till produkt bild */
.image-modal {
    width: 10rem;
    height: 15rem;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
}
/* Bilden i produkt bild div */
.image-modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* "Läs mer" Modal */
#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
/* Läs mer modal */
#modal-content {
    background-color: #e4ceb3;
    margin: 30% auto;
    padding: 1.25rem;
    width: 87%;
    border-radius: 1rem;
    /* display: flex; */
}
/* Diven till bilden i modalen */
.info-img {
    width: 15rem;
    height: 25rem;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
}
/* Bilden i diven  */
.info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Läs mer knapp design */
.add-btn {
    border: 0.1rem solid #9f6826;
    background-color: #e4ceb3;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* Alla button */
button {
    cursor: pointer;
}

/* Page Footer */
footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #9f6826;
    text-align: center;

    padding-top: 0.8rem;
    margin-top: 2rem;
}
@media (min-width: 700px) {
    .navBtn {
        font-size: xx-large;
        padding: 0.5rem;
    }

    #cart-header {
        height: 20%;
        font-size: xx-large;
    }

    #close-cart-btn {
        font-size: xx-large;
        padding-right: 15px;
    }
    /* Main cart */
    #cart-content {
        max-height: 70%;
    }

    #cart-footer {
        font-size: xx-large;
        align-items: center;
    }

    #cart-footer button {
        font-size: xx-large;
        padding: 1.5rem;
        font-weight: 600;
    }

    /* En div med produktkortet i cart modal */

    /* Div med produkt-info i Cart modal */
    #wrap-div {
        font-size: xx-large;
    }
    /* Div med plus % minus knapp */

    .span-cart {
        font-size: xx-large;
    }

    .cart-button {
        font-size: xx-large;
        padding-left: 11px;
        padding-right: 11px;
        text-align: center;
    }
    #tabort-knapp {
        border-radius: 5px;
        padding: 10px;
        font-size: x-large;
    }
    .cart-img {
        width: 15rem;
        height: 19rem;
    }

    .cart-img img {
        min-height: 100%;
    }

    /* startsida */
    #productList {
        justify-content: space-evenly;
        gap: 3rem;
    }
    .product-div {
        width: 35%;
        font-size: 1.8rem;
    }

    /* "Läs mer" knappen */
    .product-btn {
        font-size: 1.8rem;
    }

    /* Diven till produkt bild */
    .image-modal {
        width: 20rem;
        height: 25rem;
    }

    /* Läs mer modal */
    #modal-content {
        width: 70%;
        height: 60%;
        font-size: 1.8rem;
    }
    #prod-info {
        width: 70%;
    }
    .add-btn {
        font-size: xx-large;
    }
    /* Diven till bilden i modalen */
    .info-img {
        width: 20rem;
        height: 30rem;
    }
}
@media (min-width: 1100px) {
    #cart-content {
        max-height: 70%;
    }
    .info-img {
        width: 28rem;
        height: 39rem;
    }
    #modal-content {
        height: 80%;
        font-size: 2.5rem;
    }
    .add-btn {
        font-size: 2.5rem;
    }
    .product-div {
        width: 30%;
    }
}
@media (min-width: 1500px) {
    #productList {
        justify-content: space-evenly;
        gap: 5rem;
    }
    .product-div {
        width: 25%;
    }
    .info-img {
        width: 33rem;
        height: 45rem;
    }

    #modal-content {
        height: 90%;
    }
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-grow: 1;
    }
    .add-btn:hover {
        background-color: #9f6826;
    }
}
