* {
    box-sizing: border-box;
}

body {
    background-color: #e4ceb3;
    margin: 0;
}

/* Page-header */
header {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: center;
}

.logo-title {
    width: 50%;
    height: 50%;
}

/* Nav bar */
#header-nav {
    background-color: #9f6826;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

nav {
    display: flex;
    gap: 2rem;
    flex-grow: 1;
    overflow: auto;
}

.btn,
.navBtn {
    background-color: #9f6826;
    border: none;
}

.btn i {
    font-size: 2.5rem;
    justify-self: flex-end;
}

.navBtn {
    font-size: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* Cart Modal */
#cartModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

/* Cart Modal header */
#cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title title title title btn";

    font-size: 1rem;
    background-color: #e4ceb3;
}

#cart-title {
    grid-area: title;
    text-align: center;
}

#close-cart-btn {
    grid-area: btn;
    height: 30%;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #e4ceb3;
}

/* Main cart */
#cart-content {
    background-color: white;
    overflow: auto;
    border-radius: 1rem;
    width: 87%;
    height: 87%;
}

/* En div med produktkortet i cart modal */
#product-cart {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-height: 55%;
    height: fit-content;
    margin: 1rem;
    gap: 1.5rem;
    max-width: fit-content;
    flex-wrap: wrap;
}


/* Cart footer */
#cart-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: large;
}

#cart-footer button {
    background-color: #e4ceb3;
    border: #9f6826;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#cart-footer button:hover {
    background-color: #9f6826;
}

/* Ett produktkort i cart modal */
.cart-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex-grow: 1;
}

/* Div med produkt-info i Cart modal */
#wrap-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
    
}
/* Div med plus % minus knapp */
#button-wrap{
    display: flex;
    gap: 2rem
}

/* Produkt kortet med detalj */
.cart-product-card button {
    height: 10%;
}
.cart-product-card img {
    height: 10rem;
}

/* Div med cart-ikon */
#cartDiv {
    display: flex;
}

#cartCounter {
    background-color: white;
    opacity: 50%;
    border-radius: 100%;
    height: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* id till cart-ikon */
#cart {
    padding: 0.2rem;
}

/* Div med bild i cart modal */
.cart-img{
    width: 8rem;
    height: 12rem;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
}

.cart-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Plus & minus och ta bort knapp */
.cart-button{
    border-radius: 50%;
    border: none;
    background-color: #e4ceb3;
}
/* Ta bort knapp */
#tabort-knapp{
    border-radius: 5px;
    padding: 5px;
}

/* Main-content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

/* Div med alla produkt kort */
#productList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    flex-wrap: wrap;
}

/* Varje produkt kort */
.product-div {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;

}

/* "L채s mer" knappen */
.product-btn {
    background-color: #e4ceb3;
    border: none;
    text-decoration: underline;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
    font-weight: 500;
}

/* Diven till produkt bild */
.image-modal{
    width: 10rem;
    height: 15rem;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
}
/* Bilden i produkt bild div */
.image-modal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* "L채s mer" Modal */
#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
/* L채s mer modal */
#modal-content {
    background-color: #e4ceb3;
    margin: 30% auto;
    padding: 1.25rem;
    width: 87%;
    border-radius: 1rem;
    /* display: flex; */
    
}
/* Diven till bilden i modalen */
.info-img{
    width: 15rem;
    height: 25rem;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #9f8f7b;
    border-radius: 1.2rem;
}
/* Bilden i diven  */
.info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* L채s mer knapp design */
.add-btn{
    border: 0.1rem solid #9f6826; 
    background-color: #e4ceb3;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* .add-btn:hover{
    background-color: #9f6826;
} */


/* Alla button */
button{
    cursor: pointer;
}

/* Page Footer */
footer {
    background-color: #9f6826;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0.8rem;
    margin-top: 2rem;
}